body {
  background-color: black; /* Set background color */
  margin: 0;               /* Remove default margin */
  padding: 0;              /* Remove default padding */
  width: 100%;             /* Span full width */
  height: 100%;            /* Span full height */
  box-sizing: border-box;  /* Include padding and border in element's total width/height */
  overflow-x: hidden;      /* Prevent horizontal scroll */
  overflow-y: hidden;      /* Prevent vertical scroll*/
}
